header {
    display: flex;
    justify-content: center;
}

h3 {
    font-size: var(--size-for-h3);
}

h2 {
    font-size: var(--size-for-h2);
}

h4 {
    font-size: var(--size-for-li-and-btn);
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 75%;
    letter-spacing: 1.5px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    width: 25%;
    font-size: var(--size-for-li-and-btn);
    font-weight: 600;
}


nav a {
    text-decoration: none;
    color: var(--white-paragraph);
    text-transform: uppercase;
}   

.black_btn {
    background-color: var(--black);
    color: var(--white);
    padding: 0.6rem 1.5rem;
    font-size: var(--size-for-li-and-btn);
}

ul, a {
    text-transform: uppercase;
    font-weight: 600;
}

@media screen and (min-width: 376px) and (max-width: 768px) {
    nav {
        width: 100%;
        padding: 1rem 2rem; 
    }

    nav ul {
        width: 40%;
    }
}

@media screen and (max-width: 375px) {
    nav ul, nav a {
        display: none;
    }
    
    nav {
        width: 85%;
        height: 72px;
        padding: 0;
    }
    
}

