footer {
    background-color: var(--black);
    height: 250px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: repeat(2, 1fr);
    padding: 3.5rem 10rem;
}

footer div{
    grid-row: 2 span;
}

.socials_medias_and_logo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.socials_medias_and_logo img{
    -webkit-filter: invert(1);
}

.socials_medias svg {
    width: 1.8rem;
}

.menu_footer_list ul {
    margin: 0;
}

.menu_footer_list_reponsive {
    display: none;
}

.menu_footer_list ul li {
    font-size: var(--size-for-li-and-btn);
    color: var(--white);
    line-height: 2rem;
}

.copyright {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}


.copyright a, img {
    color: var(--white);
    font-size: var(--size-for-li-and-btn);
}

.copyright a {
    display: flex;
    letter-spacing: 2px;
    font-weight: 400;
}

.copyright img {
    filter: invert(1);
    margin-left: 1rem;
    width: 2.61rem;
}

.copyright p {
    font-size: var(--size-for-paragraph);
    color: white;
    opacity: 0.5025;
    margin: 0;
}

/* ------------ MEDIA QUERIES TABLET START  ------------ */

@media screen and (min-width: 768px) and (max-width: 1200px) {
   .menu_footer_list_reponsive ul li {
        color: white;
    }

    footer {
        grid-template-columns: 50% 50%;
        grid-template-rows: repeat(2, 1fr);
        padding: 3rem 2rem;
    }


    .menu_footer_list {
        display: none;
    }

    body > footer > div.socials_medias_and_logo > div.menu_footer_list_responsive > ul > li {
        display: block;
        font-size: var(--size-for-li-and-btn);
        line-height: 2rem;
        font-weight: 500;
        letter-spacing: 2px;
    }

    body > footer > div.socials_medias_and_logo > div.menu_footer_list_responsive ul {
        display: flex;
        gap: 1.56rem;
        margin: 0;
        margin-bottom: 2.8rem;
    }

    body > footer > div.socials_medias_and_logo > div.menu_footer_list_responsive{
        width: 85%;

    }

    body > footer > div.socials_medias_and_logo > div.menu_footer_list_responsive > ul > li {
        color: var(--white);

    }
    
}

/* ------------ END MEDIA QUERIES TABLET  ------------ */

/* ------------ MEDIA QUERIES MOBILE START ------------ */

@media screen and (max-width: 767px) {

    footer {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        padding: 56px 33px;
        height: auto;
    }

    .menu_footer_list {
        display: none;
    }

    .socials_medias_and_logo img {
        order: 0;
        margin-bottom: 32px;
    }

    .socials_medias {
        order: 1;
        margin-bottom: 49px;
        display: flex;
        gap: 10px;
    }

    .menu_footer_list_responsive{
        display: flex;
        order: 2;
    }

    .socials_medias_and_logo {
        align-items: center;
        height: 427px;
        justify-content: flex-start;
    }


    body > footer > div.socials_medias_and_logo > div.menu_footer_list_responsive ul {
        margin: 0;
        margin-bottom: 2.8rem;
    }

    body > footer > div.socials_medias_and_logo > div.menu_footer_list_responsive > ul > li {
        color: var(--white);
        margin-bottom: 1.48rem;
        font-weight: 500;
        letter-spacing: 2px;
    }

    .copyright {
        align-items: center;
        box-sizing: border-box;
    }

    .copyright p {
        margin-top: 34px;        
    }
}

/* ------------ MEDIA QUERIES MOBILE END ------------ */
